{% extends 'base.html' %}
{% load static %}

{% block title %}Bosh sahifa{% endblock title %}

{% block content %}
<br>
       <h2 style="color: #202124;">Python obyektga yo'naltirilgan dasturlash tili fanidan video dars</h2>
   <div class="card text-center">
  <div class="card-header">     1 - video dars   </div>
    <div class="card-header">
<iframe width="560" height="315" src="https://www.youtube.com/embed/1nJeq9Hin7Y" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><div class="card-footer text-muted">    Python   </div> </div>
<!-- 2-->
<div class="card text-center">
  <div class="card-header">     2 - video dars   </div>
    <div class="card-header">
 <iframe width="560" height="315" src="https://www.youtube.com/embed/2wLS2lBtzv8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><div class="card-footer text-muted">     Python     </div> </div>
<!-- 2-->
<!-- 3-->
<div class="card text-center">
  <div class="card-header">     3 - video dars   </div>
    <div class="card-header">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/oizDr-X2V1A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><div class="card-footer text-muted">     Python     </div> </div>
<!-- 3-->
<!-- 4-->
<div class="card text-center">
  <div class="card-header">     4 - video dars   </div>
    <div class="card-header">
<iframe width="560" height="315" src="https://www.youtube.com/embed/VcdXJYCiRIk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><div class="card-footer text-muted">     Python    </div> </div>
<!-- 4-->
<!-- 5-->
<div class="card text-center">
  <div class="card-header">     5 - video dars   </div>
    <div class="card-header">
<iframe width="560" height="315" src="https://www.youtube.com/embed/YD7ld_c7RJU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><div class="card-footer text-muted">     Python     </div> </div>
<!-- 5-->
<!-- 6-->
<div class="card text-center">
  <div class="card-header">     6 - video dars   </div>
    <div class="card-header">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/-uEagrfDRe0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><div class="card-footer text-muted">     Python    </div> </div>
<!-- 6-->
<!-- 7-->
<div class="card text-center">
  <div class="card-header">     7 - video dars   </div>
    <div class="card-header">
 <iframe width="560" height="315" src="https://www.youtube.com/embed/EvR3ckYCsmM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><div class="card-footer text-muted">     Python     </div> </div>
<!-- 7-->
<!-- 8-->
<div class="card text-center">
  <div class="card-header">     8 - video dars   </div>
    <div class="card-header">
   <iframe width="560" height="315" src="https://www.youtube.com/embed/hssylOtY70s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><div class="card-footer text-muted">    Python     </div> </div>
<!-- 8-->
<!-- 8-->
<div class="card text-center">
  <div class="card-header">     9 - video dars   </div>
    <div class="card-header">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/3fzjxSMiWwA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><div class="card-footer text-muted">    Python     </div> </div>
<!-- 9-->
<!-- 10-->
<div class="card text-center">
  <div class="card-header">     10 - video dars   </div>
    <div class="card-header">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/xlIMvGP06dc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><div class="card-footer text-muted">    Python    </div> </div>
<!-- 10-->
<!-- 11-->
<div class="card text-center">
  <div class="card-header">     11 - video dars   </div>
    <div class="card-header">
 <iframe width="560" height="315" src="https://www.youtube.com/embed/N5zL-7nYE3c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><div class="card-footer text-muted">    Python     </div> </div>
<!-- 11-->
<!-- 3-->
<div class="card text-center">
  <div class="card-header">     12 - video dars   </div>
    <div class="card-header">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/N5zL-7nYE3c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><div class="card-footer text-muted">     Python     </div> </div>
<!-- 12-->
<!-- 13-->
<div class="card text-center">
  <div class="card-header">     13 - video dars   </div>
    <div class="card-header">
   <iframe width="560" height="315" src="https://www.youtube.com/embed/4RAyftRYLl4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><div class="card-footer text-muted">     Python     </div> </div>
<!-- 13-->
<!-- 14-->
<div class="card text-center">
  <div class="card-header">     14 - video dars   </div>
    <div class="card-header">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/9ssKzbuFxe8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><div class="card-footer text-muted">    Python     </div> </div>
<!-- 14-->


{% endblock content %}