{% extends 'base.html' %}
{% load static %}

{% block title %}Bosh sahifa{% endblock title %}

{% block content %}
<br>
       <h2 style="color: #202124;">C++ obyektga yo'naltirilgan dasturlash tili fanidan video dars</h2>
<div class="card text-center">
  <div class="card-header">     1 - video dars   </div>
    <div class="card-header">
<iframe  width="560" height="315" src="https://www.youtube.com/embed/0Ki2o5SuCDo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><div class="card-footer text-muted">     C++ builder 6   </div> </div>
<!-- 2-->
<div class="card text-center">
  <div class="card-header">     2 - video dars   </div>
    <div class="card-header">
 <iframe width="560" height="315" src="https://www.youtube.com/embed/4GDblof4Gsw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><div class="card-footer text-muted">     C++ builder 6   </div> </div>
<!-- 2-->
<!-- 3-->
<div class="card text-center">
  <div class="card-header">     3 - video dars   </div>
    <div class="card-header">
             <iframe width="560" height="315" src="https://www.youtube.com/embed/LosPKlvo5AI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><div class="card-footer text-muted">     C++ builder 6   </div> </div>
<!-- 3-->
<!-- 4-->
<div class="card text-center">
  <div class="card-header">     4 - video dars   </div>
    <div class="card-header">
   <iframe width="560" height="315" src="https://www.youtube.com/embed/eDYwAyS7tQo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><div class="card-footer text-muted">     C++ builder 6   </div> </div>
<!-- 4-->
<!-- 5-->
<div class="card text-center">
  <div class="card-header">     5 - video dars   </div>
    <div class="card-header">
 <iframe width="560" height="315" src="https://www.youtube.com/embed/kTxkdRNYtRE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><div class="card-footer text-muted">     C++ builder 6   </div> </div>
<!-- 5-->
<!-- 6-->
<div class="card text-center">
  <div class="card-header">     6 - video dars   </div>
    <div class="card-header">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/IrNkL80qgZQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><div class="card-footer text-muted">     C++ builder 6   </div> </div>
<!-- 6-->
<!-- 7-->
<div class="card text-center">
  <div class="card-header">     7 - video dars   </div>
    <div class="card-header">
     <iframe width="560" height="315" src="https://www.youtube.com/embed/nAmgU5ssgso" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><div class="card-footer text-muted">     C++ builder 6   </div> </div>
<!-- 7-->
<!-- 8-->
<div class="card text-center">
  <div class="card-header">     8 - video dars   </div>
    <div class="card-header">
   <iframe width="560" height="315" src="https://www.youtube.com/embed/Ji5rtuJ7djM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><div class="card-footer text-muted">     C++ builder 6   </div> </div>
<!-- 8-->
<!-- 8-->
<div class="card text-center">
  <div class="card-header">     9 - video dars   </div>
    <div class="card-header">
   <iframe width="560" height="315" src="https://www.youtube.com/embed/sUfMmnUGjh0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><div class="card-footer text-muted">     C++ builder 6   </div> </div>
<!-- 9-->
<!-- 10-->
<div class="card text-center">
  <div class="card-header">     10 - video dars   </div>
    <div class="card-header">
  <iframe width="560" height="315" src="https://www.youtube.com/embed/bqq3oNDWPyw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><div class="card-footer text-muted">     C++ builder 6   </div> </div>
<!-- 10-->
<!-- 11-->
<div class="card text-center">
  <div class="card-header">     11 - video dars   </div>
    <div class="card-header">
           <iframe width="560" height="315" src="https://www.youtube.com/embed/34Im9-FIlgw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><div class="card-footer text-muted">     C++ builder 6   </div> </div>
<!-- 11-->
<!-- 3-->
<div class="card text-center">
  <div class="card-header">     12 - video dars   </div>
    <div class="card-header">
   <iframe width="560" height="315" src="https://www.youtube.com/embed/_A7GRAsk070" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><div class="card-footer text-muted">     C++ builder 6   </div> </div>
<!-- 12-->
<!-- 13-->
<div class="card text-center">
  <div class="card-header">     13 - video dars   </div>
    <div class="card-header">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/bQjw_UUQpSo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><div class="card-footer text-muted">     C++ builder 6   </div> </div>
<!-- 13-->
<!-- 14-->
<div class="card text-center">
  <div class="card-header">     14 - video dars   </div>
    <div class="card-header">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Lu0QBi0guQc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div><div class="card-footer text-muted">     C++ builder 6   </div> </div>
<!-- 14-->


{% endblock content %}